/* General */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e1eef7;
    font-family: 'Montserrat', sans-serif;
}

/* Banner */

.banner__div {
    height: 45vh;
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1440476/pexels-photo-1440476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    border-bottom: 3px solid #ff4444;
}

/* Navbar */

.navbar {
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar li {
    display: inline;
    padding-right: 4rem;
    font-size: 1.2rem;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.banner__h1 {
    font-size: 4.4rem;
    text-align: center;;
}

.seventy__percent__wrapper {
    padding-top: 4rem;
    width: 70%;
    background-color: #fff;
    margin: auto;
    text-align: center;
}

/* Intro */

.intro {
    line-height: 4rem;
    text-align: left;
    width: 80%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Castles */

.castles__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.castles__castle h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.castles__castle p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    margin: auto;
}

.castles__castle img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.castles__castle:hover{
    background-color: #ced8e8;
}

.castles__castle p {
    width: 70%;
    line-height: 2.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Footer */

.footer__grid__div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 70%;
    background-color: #d8d8d8;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 1.6rem;
    color: black;
}

/* Media */

@media only screen and (max-width: 1000px) {
    .temples__div {
        display: block;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar li {
        padding-right: 1rem;
        font-size: 0.8rem;
    }

    .seventy__percent__wrapper {
        width: 100%;
    }

    .banner__div {
        height: 25vh;
    }

    .footer__grid__div {
        width: 100%;
    }
}