/* General */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #e1eef7;
    font-family: 'Montserrat', sans-serif;
}

li {
    text-decoration: none;
    list-style: none;
}

/* Banner */

.banner__div {
    height: 50vh;
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1440476/pexels-photo-1440476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    border-bottom: 3px solid #f96b6b;
}

.banner__h1 {
    font-size: 4.4rem;
    width: 80%;
    margin: auto;
    text-align: center;
}

.banner__div a:hover {
    color: #f96b6b;
}

/* Navbar */

.navbar {
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 70%;
    margin: auto;
}

.navbar li {
    padding-right: 4rem;
    font-size: 1.2rem;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: left;  
}

.navbar h3 {
    color: white;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown__content {
    display: none;
    position: absolute;
    background-color:white;
    border-top: 3px solid red;  
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown__content {
    display: block;
}

/* Wrapper */

.seventy__percent__wrapper {
    padding-top: 4rem;
    width: 70%;
    background-color: #f9fbff;
    margin: auto;
    text-align: center;
    padding-bottom: 3rem;
}

/* Intro */

.intro {
    line-height: 2rem;
    text-align: left;
    width: 70%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Castles */

.castles__castle {
    margin-bottom: 6rem;
}

.castles__castle h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.castles__castle a {
    text-decoration: none;
    color: #e56262;
}

.castles__castle img{
    width: 60%;
    height: 35%;
    object-fit: cover;
    border-radius: 5px;
}

.castles__castle:hover{
    background-color: #ced8e8;
}

.castles__castle p {
    width: 60%;
    line-height: 2.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    text-align: left;
}

/* Footer */

.footer__grid__div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    background-color: #e1eef7;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 70%;
    line-height: 1.6rem;
    color: black;
    border-top: 3px solid #f96b6b;
}

.footer__grid__div h4 {
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.footer__grid__div a {
    color: black;
    text-decoration: none;
    line-height: 2rem;
    padding-left: 1rem;
}

.footer__grid__div a:hover {
    color: #f96b6b;
}

.footer__grid__plan__news__1 {
    padding-bottom: 1.2rem;
}

/* Media */

@media only screen and (max-width: 1200px) {
    .seventy__percent__wrapper {
        width: 100%;
    }

    .footer__grid__div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .banner__h1 {
        font-size: 3rem;
    }

    .castles__div {
        display: block;
    }

    .footer__grid__div {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .navbar li {
        padding-right: 1rem;
        font-size: 0.8rem;
    }

    .banner__div {
        height: 25vh;
    }

    .castles__castle img{
        width: 95%;
        height: 55%;
        border-radius: 0px;
    }

    .castles__castle p{
        width: 90%;
    }

    .footer__grid__div a {
        font-size: 0.8rem;
    }
}